#imgCookie{
    width: 5vw;
}
#Cookie{
    background-color: white;
    color: white;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

table, td, tr,th{
    border: 1px solid black;
}

.CookieV01 {
    width: 5.1vw;
    height: 5.1vw;
    border-radius: 45%;
    background-size: 5vw;
    background-repeat: no-repeat;
    background-color: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' standalone='no'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' style='isolation:isolate' width='500' height='500'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 0h500v500H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23F9AF40' d='M472 299.6l-32.8 77.2-58.4 60.1-76 35-83.4 4.8-79.6-25.7-65-52.8-41.5-72.9-12.6-83 18.1-82 46.4-69.9 68.4-48.3 81.1-20.3 83 10.6 73.4 40 54.2 64 27.5 79.2z'/%3E%3Cpath fill='%23620D0D' d='M412.2 186.1l-11.8 10.5-15.8.5-12.5-9.8-3.2-15.6 7.6-13.9 14.7-5.9 15 5 8.3 13.5z'/%3E%3Cpath fill='%23620D0D' d='M412.2 186.1l-11.8 10.5-15.8.5-12.5-9.8-3.2-15.6 7.6-13.9 14.7-5.9 15 5 8.3 13.5zM107.7 336.9L96 347.4 80 348 67.6 338l-3.2-15.5 7.5-14 14.8-5.8 15 5 8.3 13.5zM215.2 359.5L203.3 370l-15.8.5-12.5-9.9-3.2-15.5 7.6-14 14.7-5.8 15 5 8.4 13.5zM330.9 153.8L319 164.3l-15.8.5-12.4-9.9-3.2-15.5 7.5-14 14.7-5.8 15 5 8.4 13.5zM253 418.5L241.2 429l-15.8.5-12.5-9.9-3.2-15.5 7.5-14 14.8-5.8 15 5 8.3 13.5zM344.3 395.9l-11.9 10.5-15.8.5-12.4-9.9-3.2-15.5 7.5-14 14.7-5.8 15 5 8.4 13.5zM260.8 308.6L248.9 319l-15.8.5-12.4-9.9-3.2-15.5 7.5-14 14.7-5.8 15 5 8.4 13.5zM164.7 253.8L153 264.4l-15.9.4-12.4-9.8-3.2-15.5 7.5-14 14.8-5.8 15 5 8.3 13.5zM164.7 148L153 158.4l-15.9.4-12.4-9.8-3.2-15.5 7.5-14 14.8-5.8 15 5 8.3 13.4zM298.7 231.3l-11.9 10.5-15.8.5-12.5-9.9-3.2-15.5 7.6-14 14.7-5.8 15 5 8.4 13.5z'/%3E%3Cpath fill='%23620D0D' d='M298.7 231.3l-11.9 10.5-15.8.5-12.5-9.9-3.2-15.5 7.6-14 14.7-5.8 15 5 8.4 13.5zM215.2 186.1l-11.9 10.5-15.8.5-12.5-9.8-3.2-15.6 7.6-13.9 14.7-5.9 15 5 8.4 13.5zM85 225.5l-12 10.6-15.8.4-12.4-9.8-3.2-15.5 7.5-14 14.8-5.8 15 5 8.3 13.5zM425.6 314.3l-11.8 10.5-15.8.5-12.5-9.8-3.2-15.6 7.5-14 14.8-5.8 15 5 8.3 13.5zM260.8 114.3L248.9 125l-15.8.4-12.4-9.8-3.2-15.5 7.5-14 14.7-5.8 15 5 8.4 13.5z'/%3E%3C/g%3E%3C/svg%3E");
  }
  